.App {
  text-align: center;
}

.text{
  background-clip: text; 
  background-image:url('/public/eye.jpeg');
  background-position: center;
  color:transparent; font-family:'Trattatello, fantasy'
}

p{
  font-size: 50px;
}
h1{
  font-size: 75px;
  border-bottom: 3px solid red;
}

.map{
  background-image: url('/public/middleEarthMap.png');
  height:150vh;
  width: 100vw;
}

.shireLink a{
  position:absolute;
  top:510px; left:475px;
  color: transparent;
  
}
.shireLink :hover{
  position:absolute;
  top:510px; left:475px;
  background-image: url('/public/shire.jpeg');
  height: 175px;
  width: 200px;
}


.mordor a{
  position:absolute;
  right:175px;
  top: 870px;
  color: transparent;
}

.mordor a:hover{
  position:absolute;
  right:175px;
  top: 870px;
  background-image: url('/public/mordor.webp');
  background-position: center;
  height: 280px;
  width: 400px;
}



.link{
  size: 50px;
  border: 3px solid black}

.alphabet {
  font-size: 15px;
}

.selectedTab {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.nonSelectedTab {
  color: black;
  background-color: white;
  border: 2px solid #bbbbbb;
}
