.App {
  text-align: center;
}

.text{
  background-clip: text; 
  background-image:url('/public/eye.jpeg');
  background-position: center;
  color:transparent; font-family:'Trattatello, fantasy'
}

p{
  font-size: 50px;
}
h1{
  font-size: 75px;
  border-bottom: 3px solid red;
}

.map{
  background-image: url('/public/middleEarthMap.png');
  height:150vh;
  width: 100vw;
}

.shireLink a{
  position:absolute;
  top:310px; left:475px;
  color: transparent;
}
.shireLink a:hover {
  position:absolute;
  top:310px; left:475px;
  color:blue;
}

.link{
  size: 50px;
  border: 3px solid black;
}
